.general__fifth{
    width: 100%;
    height: 1410px;
    background-color: $background-lightgray1;
}

.fifth__header__title{
    font-size: 30px;
    font-weight: 300;
    color: $text-darkgray;
    width: 560px;
    margin: auto;
    padding-top: 83px;
    margin-bottom: 50px;
    display: block;
}

.fifth__header__icons{
    display: block;
    margin-left: 21%;
    margin-bottom: 200px;
}

.fifth__header__icons__icon1{
    width: 130px;
    height: 40px;
    float: left;
    margin-right: 50px;
    background-image: url("../images/airbnb-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fifth__header__icons__icon2{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 50px;
    background-image: url("../images/facebook-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fifth__header__icons__icon3{
    width: 100px;
    height: 40px;
    float: left;
    margin-right: 50px;
    background-image: url("../images/uber-logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fifth__header__icons__icon4{
    width: 50px;
    height: 40px;
    float: left;
    margin-right: 50px;
    background-image: url("../images/medium-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fifth__header__icons__icon5{
    width: 150px;
    height: 40px;
    float: left;
    margin-right: 50px;
    background-image: url("../images/hootsuite-logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fifth__header__icons__icon6{
    width: 70px;
    height: 40px;
    float: left;
    margin-right: 50px;
    background-image: url("../images/edn-logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fifth__content{
    margin-left: 21%;
}

.fifth__content__column1{
    float: left;
    margin-right: 50px;
}

.fifth__content__column1__box1{
    height: 200px;
    width: 260px;
    margin-bottom: 30px;
}

.fifth__content__column1__box1__icon{
    height: 40px;
    width: 40px;
    display: block;
    background-image: url("../images/plus-button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 15px;  
}

.fifth__content__column1__box1__text{
    font-size: 30px;
    font-weight: 300;
    color: $text-darkgray;
    display: block;
}

.fifth__content__column1__box2{
    height: 300px;
    width: 260px;
    margin-bottom: 30px;
    padding-left: 20px;
    color: $text-white;
    background-color: $text-darkgray;
}

.fifth__content__column1__box2__title{
    font-size: 15px;
    font-weight: 700;
    padding-top: 200px;
}

.fifth__content__column1__box2__text{
    font-size: 15px;
    padding-top: 10px;
}

.fifth__content__column1__box3{
    height: 300px;
    width: 260px;
    margin-bottom: 30px;
    padding-left: 20px;
    background-color: $text-white;
    padding-top: 40px;
}

.fifth__content__column1__box3__image{
    height: 74px;
    width: 74px;
    border-radius: 200px; 
    background-image: url("../images/portrait1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 65px;

}

.fifth__content__column1__box3__title{
    font-size: 12px;
}

.fifth__content__column1__box3__text{
    font-size: 15px;
    padding-top: 45px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.fifth__content__column2{
    float: left;
    margin-right: 50px;
    margin-top: 110px;
}

.fifth__content__column2__box1{
    height: 300px;
    width: 260px;
    margin-bottom: 30px;
    padding-left: 20px;
    color: $text-white;
    background-image: url("../images/world.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fifth__content__column2__box1__title{
    font-size: 15px;
    font-weight: 700;
    padding-top: 200px;
}

.fifth__content__column2__box1__text{
    font-size: 15px;
    padding-top: 10px;
}

.fifth__content__column2__box2{
    height: 300px;
    width: 260px;
    margin-bottom: 30px;
    padding-left: 20px;
    color: $text-white;
    background-image: url("../images/earphones.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fifth__content__column2__box2__title{
    font-size: 15px;
    font-weight: 700;
    padding-top: 200px;
}

.fifth__content__column2__box2__text{
    font-size: 15px;
    padding-top: 10px;
}

.fifth__content__column2__box3{
    height: 300px;
    width: 260px;
    margin-bottom: 30px;
    padding-left: 20px;
    color: $text-white;
    background-image: url("../images/green-folder.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fifth__content__column2__box3__title{
    font-size: 15px;
    font-weight: 700;
    padding-top: 200px;
}

.fifth__content__column2__box3__text{
    font-size: 15px;
    padding-top: 10px;
}

.fifth__content__column3{
    float: left;
    margin-right: 50px;
}

.fifth__content__column3__box1{
    height: 300px;
    width: 260px;
    margin-bottom: 30px;
    padding-left: 20px;
    color: $text-white;
    background-image: url("../images/headphones-yellow.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fifth__content__column3__box1__title{
    font-size: 15px;
    font-weight: 700;
    padding-top: 200px;
}

.fifth__content__column3__box1__text{
    font-size: 15px;
    padding-top: 10px;
}

.fifth__content__column3__box2{
    height: 300px;
    width: 260px;
    margin-bottom: 30px;
    padding-left: 20px;
    background-color: $text-white;
    padding-top: 40px;
}

.fifth__content__column3__box2__image{
    height: 74px;
    width: 74px;
    border-radius: 200px; 
    background-image: url("../images/portrait2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 65px;
}

.fifth__content__column3__box2__title{
    font-size: 12px;
}

.fifth__content__column3__box2__text{
    font-size: 15px;
    padding-top: 45px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.fifth__content__column3__box3{
    height: 300px;
    width: 260px;
    margin-bottom: 30px;
    padding-left: 20px;
    color: $text-white;
    background-color: darkred;
}

.fifth__content__column3__box3__title{
    font-size: 15px;
    font-weight: 700;
    padding-top: 200px;
}

.fifth__content__column3__box3__text{
    font-size: 15px;
    padding-top: 10px;
}