@media(max-width: 600px){
    .first__header__text4{
        margin-top: 8px;
    }

    .first__header__text5{
        margin-top: 8px;
    }
    .first__header__icon3{
        margin-top: 13px;
    }

    .first__header__text3{
        margin-top: 8px;
    }

    .first__header__text6{
        margin-right: 200px;
        margin-top: 11px;
    }

    .first__content__right{
        margin-right: 60px;
    }

    .general__second{
        height: 1070px;
    }

    .second__content__middle{
        margin-top: 30px;
        margin-left: 175px;
    }

    .third__content__left{
        margin-left: 15%;
    }

    .fifth__header__icons__icon3{
        margin-top: 10px;
    }

    .fifth__header__icons__icon5{
        margin-left: 0px;
    }

    .fifth__content{
        margin-left: 175px;
    }

    .sixth__content__right{
        margin-left: 145px;
    }

    .general__seventh{
        height: 1230px;
    }

    .seventh__content__top__text{
        width: 450px;
    }

    .seventh__content__middle1{
        margin-left: 120px;
    }

    .seventh__content__middle2{
        margin-top: 120px;
        margin-left: 120px;
    }
    
    .seventh__content__middle3{
        margin-left: 120px;
    }

    .seventh__content__middle4{
        margin-left: 120px;
    }

    .seventh__content__bottom{
        margin-top: 500px;
    }

    .seventh__content__bottom__social{
        margin-right: 1085px;
        margin-top: 20px;
    }

}