@media(max-width: 768px){
    .general__second{
        height: 730px;
    }

    .second__content__interloper{
        display: none;
    }

    .second__content__right{
        display: none;
    }

    .second__content__middle{
        margin-left: 400px;
    }

    .general__third{
        height: 930px;
    }

    .third__content__left{
        margin-left: 225px;
    }

    .third__content__interloper{
        display: none;
    }

    .general__fifth{
        height: 3410px;
    }

    .fifth__header__icons{
        margin-left: 125px;
    }

    .fifth__header__icons__icon5{
        margin-left: 100px;
    }

    .fifth__content{
        margin-left: 225px;
    }

    .general__sixth{
        height: 830px;
    }

    .sixth__content__left{
        margin-left: 30%;
    }

    .sixth__content__right{
        margin-top: 75px;
    }

    .general__seventh{
        height: 830px;
    }

    .seventh__content__top{
        height: 130px;
    }

    .seventh__content__top__text{
        margin-left: 75px;
    }

    .seventh__content__top__button{
        display: block;
        margin-top: 30px;
        margin-left: 75px;
    }

    .seventh__content__middle{
        height: 400px;
        margin-left: 75px;
    }

    .seventh__content__middle3{
        margin-top: 50px;
    }

    .seventh__content__middle4{
        margin-top: 49px;
        margin-left: 0px;
    }

    .seventh__content__bottom{
        margin-left: 75px;
    }

    .seventh__content__bottom__social{
        margin-right: 600px;
    }
}