$text-white: white;
$text-purple: #6d60b0;
$text-darkgray: #38454e;
$text-lightgray: #a9b0b6;
$text-blue: #0db3e5;

$background-lightblue: #e6f8fc;
$background-lightgray1: #f9f8fe;
$background-lightgray2: #c2b8ff;
$background-blue: #0db3e5;

$hover: #f1eeee;

